.about  h3 {
    font-weight: 700;
}
.about .about__picture {
    text-align: center;
}

.about_link {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    background: #764ABC;
    color: #fff;
    position: relative;
    top: 40px;
}
.about_link:hover {
    color: #fff;
    opacity: .8;
} 
.about__title {
    font-weight: 700;
}


@media only screen and (max-width:570px) {
    .about .about__title{
        margin-top: 15px;
        text-align: center;
    }
    .about_link {
        margin-top: -20px;
    }
}